<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.15.1/dist/phaser-arcade-physics.min.js"></script>
</head>

<body>
    <div id="gameContainer" align=center>
        <script type="text/javascript" src="https://brunoduartec.github.io/building_game/public/scripts/config.js">
        </script>
        <script type="text/javascript" src="https://brunoduartec.github.io/building_game/public/scripts/docsLoad.js">
        </script>
        <script type="text/javascript" src="https://brunoduartec.github.io/building_game/public/scripts/helper.js">
        </script>
        <script type="text/javascript" src="https://brunoduartec.github.io/building_game/public/scripts/factory.js">
        </script>
        <script type="text/javascript" src="https://brunoduartec.github.io/building_game/public/scripts/game.js">
        </script>
    </div>

</body>

</html>